<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to KPMG's AI Security Suite</title>

    <!-- Load the static files -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'homepage/css/styles.css' %}">  <!-- Path to your CSS -->
</head>
<body>

    <!-- Navigation Bar -->
    <nav>
        <a href="#">User Account</a>
        <a href="#">Framework Analysis Lab</a>
        <a href="#">Threat Modelling Lab</a>
        <a href="{% url 'tres' %}">AI Attack Lab</a>
        <a href="#">Remediation Lab</a>
        <a href="#">Report & Insights</a>
    </nav>

    <!-- Main Content -->
    <header>
        <h1>Welcome to KPMG's AI Security Suite</h1>
    </header>

</body>
</html>
